@font-face {
  font-family: 'Array-Regular';
  src: url('../fonts/Array-Regular.woff2') format('woff2'),
    url('../fonts/Array-Regular.woff') format('woff'),
    url('../fonts/Array-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}