.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn {
    cursor: pointer;
    height: 50px;
    width: 90px;
    color: #333;
    border-radius: 10px;
    background: currentColor;
    background: var(--eerie-black);
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
}

.social-btn svg {
    height: 24px;
    width: 24px;
}

.social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.social-btn:hover {
    width: 270px;
    border-radius: 5px;
}

.social-btn:hover span {
    padding: 2px;
    width: auto;
    margin-left: 5px;

}


#linkedin {
    fill: #0e76a8;
}

#github {
    fill: var(--white);
}