.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-contact h3 {
    font-size: 32px;
    color: var(--eerie-black);
    margin: 1.2rem auto;
}


.container-social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
}


.social-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    min-width: 280px;
}

.social-context h4 {
    font-weight: 300;
    display: block;
    margin: 1rem auto 0.3rem;
    padding: 0.5vh 0;
    width: 100%;
    color: var(--black);
    text-align: center;
}